@{
    var RouteValues = (object)Model.RouteValues;
    RouteValueDictionary rvd;
    if (RouteValues == null) {
        rvd = new RouteValueDictionary();
    }
    else {
        rvd = RouteValues is RouteValueDictionary ? (RouteValueDictionary)RouteValues : new RouteValueDictionary(RouteValues);
    }
    if(rvd.ContainsKey("X-Requested-With"))
    {
        rvd.Remove("X-Requested-With");
    }
    if (!rvd.ContainsKey("page"))
    {
        rvd.Add("page", 1);
    }
}
@if (!Request.IsAjaxRequest())
{
    <a href="@Url.Action((string)rvd["action"], rvd)">@rvd["page"]</a>
}
else {
    @Ajax.ActionLink(Convert.ToString(rvd["page"]), actionName: (string)rvd["action"], routeValues: rvd, ajaxOptions: new AjaxOptions()
    {
        HttpMethod = "GET",
        UpdateTargetId= (string)Model.Pager.UpdateTargetId
    })
}
